<!doctype html><html><head>
  <meta charset=utf8>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tast Aigua</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <style>
    body{
      font-family:Arial;
      margin:0;
      background:white;
    }
    hr{
      border:none;
    }
    h1{
      padding:1px 8px;
      margin-top:0;
      margin-left:-8px;
    }
    div#app{
      margin-left:8px;
    }

    [fondo_blau]{
      background:#7fdbf8;
      color:white;
    }

    [lletra_color_gris]{
      color:#a6a6a6;
    }
    [lletra_color_blau]{
      color:#7fdbf8;
    }

    [center]{
      text-align:center;
    }
    [opcio_preferida]{
      border:1px solid black;
      border-radius:50%;
      width:50px;
      height:50px;
      font-size:20px;
      display:flex;
      align-items:center;
      justify-content:center;
      margin-right:5px;
    }
    [opcio_preferida]:hover{
      border-color:#7fdbf8;
      background:#7fdbf8;
      color:white;
    }
    [opcio_preferida][marcada=true]{
      border-color:royalblue;
      background:#7fdbf8;
      color:royalblue;
      font-weight:bold;
    }
    [partit="1"]{
      display:flex;
    }

    /*taula participacions*/
    td[correcte=true]{
      background:lightgreen;
    }
    td[correcte=false]{
      background:lightcoral;
    }
  </style>
</head><body>

<div id=app>
  <nav v-if="mode_debug">
    <a href="index.html">versió normal</a> |
    <a href="index.html?pass=icra123">versió admin</a> |
    <a href="jornades.html">jornades</a> |
  </nav>

  <div :partit="admin">
    <div style=" flex:1;" ><!--esquerra-->
      <h1 fondo_blau>
        <div
          style="
            display:flex;
            justify-content:space-between;
            align-items:center;
          "
        >
          <div>TAST D'AIGUA</div>
          <div>
            <img src="img/logo-icra.png" style="width:60px">
          </div>
        </div>
      </h1>

      <div v-if="seccio_actual==1 && admin==0">
        <div><!--pregunta 1-->
          <b>
            <span>1. Quin tipus d'aigua beus normalment? </span>
          </b>

          <table border=0 style="font-size:larger">
            <tr v-for="a,i in aigues">
              <td>
                <label :style="{fontWeight:a==aigua_que_beu_normalment?'bold':''}">
                  <input type=radio v-model="aigua_que_beu_normalment" :value="a"> {{a}}
                </label>
              </td>
            </tr>
          </table>
        </div><hr>

        <div>
          <b>
            <span>2. Quina aigua és quina? </span>
            <span lletra_color_gris>(marca la casella)</span>
          </b>

          <table border=0 style="font-size:larger">
            <tr>
              <td></td>
              <td v-for="o,i in opcions" center>{{i+1}}</td>
            </tr>
            <tr v-for="a,i in aigues">
              <td>{{a}}</td>
              <td v-for="o,j in opcions">
                <input type=checkbox @change="opcions[j]=(opcions[j]==a?null:a)" :checked="opcions[j]==a"
                  :disabled="(opcions[j] && opcions[j]!=a)"
                >
              </td>
            </tr>
          </table>
        </div><hr>

        <div>
          <b>
            <span>3. Quina aigua t'ha agradat més? </span>
            <span lletra_color_gris>(selecciona)</span>
          </b>

          <div style="display:flex;margin-top:5px">
            <div v-for="o,i in opcions" opcio_preferida
              :marcada="opcio_preferida==i"
              @click="opcio_preferida=opcio_preferida==i?null:i"
            >
              <div>{{i+1}}</div>
            </div>
          </div>
        </div><hr>

        <div>
          <b>
            <span>4. Canviaries algun dels teus hàbits de consum? </span>
          </b>

          <table border=0 style="font-size:larger">
            <tr>
              <td>
                <label>
                  <input type=radio v-model="canviaras_algun_habit_de_consum" :value="true"> Sí
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label>
                  <input type=radio v-model="canviaras_algun_habit_de_consum" :value="false"> No
                </label>
              </td>
            </tr>
          </table>

        </div><hr>

        <div>
          <button style="font-size:x-large" @click="seccio_actual=2"
            :disabled="opcions.some(n=>n==null) || opcio_preferida==null || aigua_que_beu_normalment==null"
          >SEGÜENT &rarr;</button>
        </div>
      </div>

      <div v-if="seccio_actual==2 && admin==0">
        <div>
          <div style="margin-bottom:5px">
            <button @click="seccio_actual=1">enrere</button>
          </div><hr>

          <b>ELS TEUS RESULTATS</b><hr>
          <div style="font-size:larger">
            Respostes correctes: <b lletra_color_blau>{{respostes_correctes}}</b>
          </div><hr>
          <table border=0 center>
            <tr fondo_blau>
              <th style="padding:5px 8px">Nº</th>
              <th style="padding:5px 8px">Resposta correcta</th>
              <th style="padding:5px 8px">La teva resposta</th>
            </tr>
            <tr v-for="_,i in opcions">
              <td>
                {{i+1}}
              </td>
              <td>
                {{resposta[i]}}
              </td>
              <td
                :style="{color:opcions[i]==resposta[i]?'green':'red'}"
              >
                {{opcions[i] ?? '-'}}
              </td>
            </tr>
          </table><hr>

          <div style="margin-top:10px">
            <b>L'aigua que t'ha agradat més és:</b><br>
            <b lletra_color_blau v-if="opcio_preferida!=null" style="font-size:x-large">
              Nº {{opcio_preferida+1}}:
              Aigua {{resposta[opcio_preferida]}}
            </b>
            <b v-else>--</b>
          </div>
        </div><hr>

        <div>
          <button style="font-size:x-large" @click="submit()" v-if="!has_participat">
            Enviar resultats
          </button>

          <div v-if="has_participat">
            <button @click="seccio_actual=3">Veure resultats</button>
          </div>
        </div>
      </div>

      <div v-if="seccio_actual==3 || admin">
        <div style="margin-bottom:5px" v-if="!admin">
          <button @click="seccio_actual=2">enrere</button>
          <hr>
        </div>

        <div>
          <div v-if="taula_resultats">
            <b>Aigua preferida dels participants ({{resultats.length}})</b><br><br>

            <div>
              <!--
              taula resultats per respostes correctes
              <table border=1 style="margin-right:5px">
                <tr>
                  <th>Respostes correctes</th>
                  <th>Persones</th>
                </tr>
                <tr v-for="rc in [5,4,3,2,1,0]">
                  <td center>{{rc}}
                  <td center>{{taula_resultats.respostes_correctes[rc]}}</td>
                </tr>
              </table>
              -->
            </div>

            <table border=0 style="width:100%">
              <tbody v-for="en,i in taula_resultats.opcions_preferides">
                <tr>
                  <td style="padding-left:10px">{{resposta[en[0]]}}</td>
                </tr>
                <tr>
                  <td
                    v-for="px in [(100*en[1]/resultats.length||0).toFixed(1)]"
                  >
                    <div
                      style="
                        display:flex;
                        align-items:center;
                        margin-bottom:10px;
                      "
                    >
                      <div
                        :style="{
                          width:px+'%',
                          background:colors_grafic_barres[i],
                          color:colors_grafic_barres[i],
                        }">|</div>
                      <div lletra_color_gris style="font-size:smaller;font-weight:bold">&nbsp;{{px}}% ({{en[1]}} persones)</div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div v-if="admin"
            style="
              display:flex;
              justify-content:space-around;
              align-items:center;
            "
          >
            <div>
              <img src="img/logo-icra-2.png" style="width:100px">
            </div>
            <div>
              <div lletra_color_blau style="font-size:x-large" center><b>PARTICIPA!</b></div>
              <img src="img/qr.png">
            </div>
          </div>
        </div>

        <!-- taula tots els resultats
        -->
        <div v-if="resultats && admin">
          <button @click="veure_taula_tots_els_resultats^=1">
            <span v-html="veure_taula_tots_els_resultats?'[-]':'[+]'"></span>
            Veure totes les estadístiques
          </button>

          <!--veure tots els resultats-->
          <div v-if="veure_taula_tots_els_resultats">
            <div style="height:1em"></div>

            <div>
              <a href="jornades.html">Veure historial jornades</a>
            </div>
            <div style="height:1em"></div>

            <div v-if="resultats && resultats.length">
              <button @click="guardar_resultats_com_a_nova_jornada()">
                Guardar totes les participacions (crear nova jornada)
              </button>
              <div style="height:1em"></div>
            </div>

            <b>Totes les participacions ({{resultats?resultats.length:0}})</b><br>
            <div v-if="resultats && resultats.length==0">
              ~Encara no hi ha participacions
            </div>
            <table border=1 style="font-size:x-small" v-if="resultats && resultats.length">
              <tr>
                <th>nº</th>
                <th>creat</th>
                <th v-for="n in resultats[0].json.respostes.length">
                  Aigua {{n}}<br>
                  [{{resposta[n-1]}}]
                </th>
                <th>opció preferida</th>
                <th>aigua que beu normalment</th>
                <th>canviaràs hàbit consum?</th>
                <th v-if="admin">admin</th>
              </tr>
              <tr v-for="res,i in resultats">
                <td>{{i+1}}</td>
                <td>{{res.created}}</td>
                <td center
                  v-for="rr,j in res.json.respostes"
                  :correcte="rr==resposta[j]"
                >{{rr}}
                </td>
                <td center>
                  {{resposta[res.json.opcio_preferida]}}
                </td>
                <td center>
                  {{res.json.aigua_que_beu_normalment}}
                </td>
                <td center>
                  {{res.json.canviaras_algun_habit_de_consum?"Sí":"No"}}
                </td>
                <td v-if="admin">
                  <button @click="esborra_resultat(res.id)">esborra</button>
                </td>

                <!--
                <td>
                  {{res}}
                </td>
                -->

              </tr>
            </table>
            <div style="height:1em"></div>

            <!--taules resum resultats-->
            <div v-if="resultats && resultats.length">
              <b>Encerts</b>
              <table border=1 style="font-size:x-small">
                <tr>
                  <th>nº</th>
                  <th>Aigua</th>
                  <th>Encerts</th>
                  <th>%respecte {{resultats.length}} persones</th>
                </tr>
                <tr v-for="aigua,i in resposta">
                  <td>{{i+1}}</td>
                  <td>{{aigua}}</td>

                  <td center>
                    {{
                      resultats.filter(r=>r.json.respostes[i]==aigua).length
                    }}
                  </td>

                  <td center>
                    {{
                      (resultats.filter(r=>r.json.respostes[i]==aigua).length/resultats.length*100).toFixed(2)
                    }}%
                  </td>

                </tr>
              </table>
              <div style="height:1em"></div>

              <b>Aigua preferida</b>
              <table border=1 style="font-size:x-small">
                <tr>
                  <th>nº</th>
                  <th>Aigua</th>
                  <th>Persones que la prefereixen</th>
                  <th>% respecte {{resultats.length}} persones</th>
                </tr>
                <tr v-for="aigua,i in resposta">
                  <td>{{i+1}}</td>
                  <td>{{aigua}}</td>

                  <td center>
                    {{
                      resultats.filter(r=>r.json.opcio_preferida==i).length
                    }}
                  </td>
                  <td center>
                    {{
                      (resultats.filter(r=>r.json.opcio_preferida==i).length/resultats.length*100).toFixed(2)
                    }}%
                  </td>
                </tr>
              </table>
              <div style="height:1em"></div>

              <b>Aigua que es beu normalment</b>
              <table border=1 style="font-size:x-small">
                <tr>
                  <th>nº</th>
                  <th>Aigua</th>
                  <th>Persones</th>
                  <th>%</th>
                  <th>Persones que encerten la mateixa aigua que beuen</th>
                  <th>%</th>
                </tr>
                <tr v-for="aigua,i in resposta">
                  <td>{{i+1}}</td>
                  <td>{{aigua}}</td>
                  <td center>
                    {{
                      resultats.filter(r=>r.json.aigua_que_beu_normalment==aigua).length
                    }}
                  </td>

                  <td center>
                    {{
                      (resultats.filter(r=>r.json.aigua_que_beu_normalment==aigua).length/resultats.length*100).toFixed(2)
                    }}
                  </td>

                  <td center>
                    {{
                      resultats.filter(r=>r.json.aigua_que_beu_normalment==aigua && r.json.respostes[i]==aigua).length
                    }}
                  </td>
                  <td center>
                    {{
                      (resultats.filter(r=>r.json.aigua_que_beu_normalment==aigua && r.json.respostes[i]==aigua).length/resultats.length*100).toFixed(2)
                    }}
                  </td>
                </tr>
              </table>
              <div style="height:1em"></div>

              <b>Canvis de consum</b>
              <table border=1 style="font-size:x-small">
                <tr>
                  <th>Canviarà</th>
                  <th>Persones</th>
                  <th>%respecte {{resultats.length}} persones</th>
                </tr>
                <tr v-for="val in [false,true]">
                  <td center>{{val?"Sí":"No"}}</td>
                  <td center>
                    {{resultats.filter(r=>r.json.canviaras_algun_habit_de_consum===val).length}}
                  </td>
                  <td center>
                    {{
                      (resultats.filter(r=>r.json.canviaras_algun_habit_de_consum===val).length/resultats.length*100).toFixed(2)
                    }}%
                  </td>
                </tr>
              </table>
              <div style="height:1em"></div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--dreta-->
    <img v-if="admin" src="img/infografia.png"
      style="
        flex: 0 0 auto;
        height:100vh;
        width:auto;
      "
    >
  </div>
</div>

<script>
  let usp   = new URLSearchParams(window.location.search);
  let pass  = usp.get("pass");
  let admin = pass=="icra123"?1:0;

  let mode_debug = 0; //posar a 0 al fer deploy

  let app = Vue.createApp({
    data(){return{
      mode_debug,
      admin,
      has_participat:0,
      seccio_actual:1, //1,2,3
      veure_taula_tots_els_resultats:mode_debug,

      resultats:null, //fetch

      /*respostes usuari*/
      aigua_que_beu_normalment:null,
      opcions:[null,null,null,null],
      opcio_preferida:null, //numero (aigua preferida)
      canviaras_algun_habit_de_consum:false,

      //resposta correcta
      resposta:[
        "Embotellada",
        "Aixeta",
        "Aixeta filtrada",
        "Font",
      ],

      //totes les opcions
      aigues:[
        "Aixeta",
        "Aixeta filtrada",
        "Font",
        "Embotellada",
      ],

      colors_grafic_barres:[
        "#2CA58D", //verd
        "#E28413", //taronja
        "#574AE2", //blau
        "#E5BEED", //rosa
        "#92374D", //marro
      ],
    }},

    methods:{
      guardar_resultats_com_a_nova_jornada(){
        //agafa votacions
        let resultats = this.resultats;
        if(!resultats) return;

        //agafa resposta correcta
        let resposta_correcta = this.resposta;

        //empaqueta votacions i resposta com a string json
        let payload     = {resposta_correcta, resultats};
        let payload_str = JSON.stringify(payload);

        //crea request
        let body = new FormData();
        body.append('json', payload_str);
        fetch(
          'api/guarda_jornada.php',
          {method:'POST',body},
        ).then(r=>
          r.text()
        ).then(success=>{
          console.log(success);
          alert(success); //"OK"
          window.location.href="jornades.html";
        }).catch(err=>{
          alert(err);
        });
      },

      //guarda resultats (votació)
      submit(){
        if(this.has_participat){
          alert("Ja has participat!");
          return;
        }

        let respostes                       = this.opcions;
        let opcio_preferida                 = this.opcio_preferida;
        let aigua_que_beu_normalment        = this.aigua_que_beu_normalment
        let canviaras_algun_habit_de_consum = this.canviaras_algun_habit_de_consum;

        if(respostes.some(el=>el==null)){
          alert("Respon totes les caselles");
          return;
        }
        if(opcio_preferida==null){
          alert("Falta seleccionar la teva aigua preferida");
          return;
        }
        if(aigua_que_beu_normalment==null){
          alert("Falta seleccionar l'aigua que beus normalment");
          return;
        }

        //empaqueta json i guarda com string
        let payload={
          respostes,
          opcio_preferida,
          aigua_que_beu_normalment,
          canviaras_algun_habit_de_consum,
        };
        let payload_str = JSON.stringify(payload);

        //crea request
        let body = new FormData();
        body.append('json',payload_str);
        fetch(
          'api/guarda_resultat.php',
          {method:'POST',body},
        ).then(r=>
          r.text()
        ).then(success=>{
          console.log(success);
          alert(success); //"OK"
          app.has_participat = 1;
          app.fetch_resultats();
          app.seccio_actual=3;
        }).catch(err=>{
          alert(err);
        });
      },

      esborra_resultat(id){
        //crea request
        let body = new FormData();
        body.append('id',id);
        fetch(
          'api/esborra_resultat.php',
          {method:'POST',body},
        ).then(r=>
          r.text()
        ).then(success=>{
          console.log(success);
          alert(success); //"OK"
          app.fetch_resultats();
        }).catch(err=>{
          alert(err);
        });
      },

      fetch_resultats(){
        fetch("api/get_resultats.php").then(r=>r.json()).then(arr=>{

          //parseja camp "json"
          arr.forEach(el=>el.json = JSON.parse(el.json));

          this.resultats = arr;
          console.log("resultats llegits");
        });
      },

      calcula_respostes_correctes(resultat){
        let n=0;
        resultat.json.respostes.forEach((r,i)=>{
          if(r==this.resposta[i]){
            n++;
          }
        });
        return n;
      },
    },

    computed:{
      respostes_correctes(){
        let n=0;
        this.resposta.forEach((r,i)=>{
          if(r==this.opcions[i]){
            n++;
          }
        });
        return n;
      },

      taula_resultats(){
        if(!this.resultats) return false;

        let taula={
          respostes_correctes:{
            "4":0,
            "3":0,
            "2":0,
            "1":0,
            "0":0,
          },
          opcions_preferides:{
            "3":0,
            "2":0,
            "1":0,
            "0":0,
          },
        };

        this.resultats.forEach(resultat=>{
          let rc = this.calcula_respostes_correctes(resultat);
          taula.respostes_correctes[rc]++;
          taula.opcions_preferides[resultat.json.opcio_preferida]++;
        });

        //ordena aigua preferida
        let opcions_preferides_sorted=[];
        Object.entries(taula.opcions_preferides).sort((a,b)=>b[1]-a[1]).forEach(en=>{
          //console.log({en});
          opcions_preferides_sorted.push(en);
        });

        console.log(opcions_preferides_sorted);

        taula.opcions_preferides = opcions_preferides_sorted;

        return taula;
      },
    },

    mounted(){
      this.fetch_resultats();
      let interval_segons = 15;
      setInterval(this.fetch_resultats, interval_segons*1000);
    },
  }).mount("#app");
</script>
