<!doctype html><html><head>
  <meta charset=utf8>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Jornades</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <style>
    summary:hover{
      cursor:pointer;
      text-decoration:underline;
    }
  </style>
</head><body>

<a href="index.html?pass=icra123">Pàgina principal</a>

<h1>Historial Jornades</h1>

<p>
  Nota: la idea és convertir aquesta pàgina progressivament en una manera
  automàtica de calcular les estadístiques de les jornades
</p>

<small>Més recents a dalt</small>

<div id=app>
  <table border=1 v-if="jornades">
    <tr v-for="jornada in jornades">
      <td>
        <details>
          <summary>
            Jornada (id={{jornada.id}})
            [{{jornada.date}}]
            [{{jornada.json.resultats.length}} votacions]
          </summary>
          <div>
            <pre>{{JSON.stringify(jornada.json,null,'  ')}}</pre>
          </div>
        </details>
      </td>
      <td style="vertical-align:top">
        <button @click="esborra_jornada(jornada.id)">
          esborrar jornada
        </button>
      </td>
    </tr>
  </table>
</div>

<script>
let app = Vue.createApp({
  data(){return{
    jornades:null, //fetch
  }},

  methods:{
    fetch_jornades(){
      fetch("api/get_jornades.php").then(r=>r.json()).then(arr=>{
        //parseja camp "json"
        arr.forEach(el=>el.json = JSON.parse(el.json));
        this.jornades=arr;
      });
    },

    esborra_jornada(id){
      if(!confirm(`Segur que vols esborrar la jornada (id=${id}) ?`)) return;

      //crea request
      let body = new FormData();
      body.append('id',id);
      fetch(
        'api/esborra_jornada.php',
        {method:'POST',body},
      ).then(r=>
        r.text()
      ).then(success=>{
        console.log(success);
        alert(success); //"OK"
        app.fetch_jornades();
      }).catch(err=>{
        alert(err);
      });
    },
  },

  computed:{
  },

  mounted(){
    this.fetch_jornades();
  },
}).mount("#app");
</script>
