<!doctype html><html><head>
  <meta charset=utf8>
  <title>GLOPS Dashboard</title>
  <script src="lib/vue.global.prod.js"></script>
  <style>
    a[boto]{
      display:block;
      border:1px solid #ccc;
      border-radius:5px;
      padding:1em 1.618em;
      text-align:center;
      cursor:pointer;
      text-decoration:none;
      color:royalblue;
    }
    a[boto]:hover{
      background:royalblue;
      color:white;
      text-decoration:underline;
    }
    div[seccio]{
      padding:5px;
    }
  </style>
</head><body><h1>GLOPS Dashboard (links principals)</h1>

<div id=app>
  <div seccio v-for="sec in seccions">
    <div
      style="
        display:grid;
        grid-template-columns:repeat(3,1fr);
        gap:5px;
      "
    >
      <div v-for="link in sec.links">
        <a boto :href="link.href" target="_blank">
          <span v-html="link.nom"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  let app=Vue.createApp({
    data(){return{
      seccions:[
        {
          nom:"principal",
          links:[
            {nom:"Pàgina principal",             href:"index.html"},
            {nom:"Selector lloc instal·lació",   href:"lloc.html"},
            {nom:"Resultats real time (per TV)", href:"pantalla.html"},
          ],
        },
        {
          nom:"dades recopilades",
          links:[
            {nom:"Participacions<br>(agrupades per dia)",      href:"resultats.html"},
            {nom:"Participacions<br>(taula plana exportable)", href:"resultats-taula-plana.php"},
          ],
        },
        {
          nom:"disseny",
          links:[
            {nom:"Disseny Pau (canva)",  href:"https://canva.link/grt9dye83cxy8oa"},
            {nom:"Disseny Sady (canva)", href:"https://www.canva.com/design/DAHJFKhO1JA/KNTIG27O2G5PyJs1LcW1yA/edit?utm_source=shareButton&utm_medium=email&utm_campaign=designshare"},
          ],
        },
      ],
    }},
    methods:{
      obre(link){window.open(link)},
    },
  }).mount("#app");
</script>
