<!doctype html><html><head>
  <meta charset=utf8>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    body{
      font-family:Arial;
      margin:0;
    }
    [dark_azure]{
      color:#006787;
    }

    [titol_pagina]{
      color:#00859d;
      font-size:x-large;
      padding:1em 1.618em;
    }
    [boto_landing]{
      background:#73b612;
      border-radius:50px;
      border:none;
      color:white;
      font-weight:bold;
      padding:0.5em 2em;
      font-size:x-large;
      border:2px solid transparent;
      cursor:pointer;
    }
    [boto_landing]:hover{
      border:2px solid #006787;
    }

    [fons_normal]{
      background:url(img/fons.svg);
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
      height:100vh;
      width:100vw;
    }
    [center]{
      text-align:center;
    }
    div[opcio]{
      background:lightgrey;
      border-radius:50px;
      border:2px solid grey;

      padding:1em 1.618em;
      color:black;

      margin:2px;

      text-align:center;
      cursor:pointer;
    }
    div[opcio]:hover{
      background:#bce3f9;
      border-color:#0097b2;
    }
    div[opcio_seleccionada=true]{
      background:#bce3f9;
      border-color:#0097b2;
    }
    [btn_prev_next_page]{
      background:#006787;
      color:white;
      font-size:x-large;
      font-weight:bolder;
      border:2px solid transparent;
      border-radius:50%;
      padding:0.5em;
    }
    [btn_prev_next_page][disabled]{
      background:#ccc;
    }
    [btn_prev_next_page]:not([disabled]):hover{
      border:2px solid #bce3f9;
      color:#bce3f9;
    }
    [btn_prev_next_page_ressaltat=true]{
      background:lightgreen;
    }
    [pregunta_text]{
      color:#006787;
      padding:5px;
      display:inline-block;
      border-radius:10px;
      font-weight:bold;
    }
  </style>
</head><body>

<div id=app>
  <div>
    <!--titol-->
    <div
      v-if="vista_actual=='titol'"
      center
      style="
        background:url(img/landing.svg);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        height:100vh;
        margin:auto;
      "
    >
      <div
        style="
          position:relative;
          top:58vh;
        "
      >
        <button
          @click="vista_actual='preguntes'"
          boto_landing
          style="
          "
        >
          <div
            style="
              display:flex;
              align-items:center;
              justify-content:space-between;
            "
          >
            <div>Comença!</div>
            <!--fletxa verda-->
            <div
              style="
                background:#b8ff4f;
                color:#73b612;
                border-radius:50%;
                width:28px;
                padding:5px;
                margin-left:10px;
              "
            >&#10140;
            </div>
          </div>
        </button>
      </div>
    </div>

    <!--preguntes-->
    <div
      v-if="vista_actual=='preguntes' && pagina_actual && index_pagina_actual<pagines.length"
      fons_normal
    >
      <div titol_pagina center>
        <b>{{pagina_actual.text}}</b>
      </div>

      <!--preguntes-->
      <div
        style="
          padding:3em;
        "
      >
        <div v-for="pregunta in pagina_actual.preguntes" style="margin-bottom:35px">
          <div
            style="
              font-size:x-large;
            "
          >
            <span pregunta_text>
              {{pregunta.text}}
            </span>

            <span style="font-size:12px">
              <span v-if="pregunta.resposta">&nbsp;
                <b v-if="pregunta.multiple">{{Array.from(pregunta.resposta).join(', ')}}</b>
                <b v-else>{{pregunta.resposta}}</b>
              </span>
            </span>
          </div>
          <div v-if="pregunta.opcions"
            style="
              display:grid;
              grid-template-columns:repeat(6,1fr);
              align-items:center;
              margin-bottom:10px;
            "
          >
            <div
              v-if="!pregunta.multiple"
              opcio
              :opcio_seleccionada="opcio==pregunta.resposta"
              v-for="opcio in pregunta.opcions"
              @click="pregunta.resposta = pregunta.resposta==opcio ? '':opcio "
            >{{opcio}}</div>

            <div
              v-if="pregunta.multiple"
              opcio
              v-for="opcio in pregunta.opcions"
              :opcio_seleccionada="pregunta.resposta.has(opcio)"
              @click="pregunta.resposta[pregunta.resposta.has(opcio)?'delete':'add'](opcio)"
            >{{opcio}}</div>
          </div>
        </div>
      </div>
    </div>

    <!--gotes navegació-->
    <div
      v-if="vista_actual=='preguntes' && pagina_actual"
      style="
        position:fixed;
        bottom:0;
        width:100%;
      "
    >
      <div
        style="
          display:flex;
          align-items:center;
          justify-content:center;
          border-radius:50px;
          margin:auto;
          margin-bottom:10px;
          padding:10px;
          max-width:90%;
        "
      >
        <button
          btn_prev_next_page
          @click="pregunta_anterior()"
        >&larr;
        </button>

        <div style="margin:5px 10px">
          <div
            style="
              display:flex;
              align-items:center;
              justify-content:space-around;
            "
          >
            <div v-for="g in pagines.length"
              center
              style="
                width:50px;
                font-size:30px;
              "
            >
              <div
                :style="{color:index_pagina_actual+1==g?'#00b7f1':'#d9d9d9'}"
              >
                &#127778;<!--emoji gota-->
              </div>
            </div>
          </div>
        </div>

        <button
          btn_prev_next_page
          @click="pregunta_seguent()"
          :disabled="!tot_contestat(pagina_actual)"
          title="contesta totes les preguntes per continuar"
        >&rarr;</button>
      </div>
    </div>

    <div v-if="vista_actual=='comencem'" center>
      <div
        style="
          height:50vh;
          background:linear-gradient(to right,#0097b2,#7ed957);
        "
      ></div>
      <div
        style="
          font-size:xx-large;
        "
      >
        Comencem!
        <br>
        <button @click="alert('wip')">
          &rarr;
        </button>
        <br>
        <button @click="vista_actual='preguntes';index_pagina_actual=pagines.length-1">
          enrere
        </button>
      </div>
    </div>

    <div v-if="vista_actual=='diagrama_flux'" center>
      diagrama flux svg aquí
      <button>anterior</button>
      <button>següent</button>
    </div>

    <div v-if="vista_actual=='diagrama_passos_aigua'" center>
      diagrama passos aigua
      <button>anterior</button>
      <button>següent</button>
    </div>

    <div v-if="vista_actual=='com_escollim_aigua'" center>
      Com escollim l'aigua que bevem?
      <button>anterior</button>
      <button>següent</button>
    </div>

    <div v-if="vista_actual=='normalment_ens_fixem_en'" center>
      Normalment ens fixem en
      <button>anterior</button>
      <button>següent</button>
    </div>

    <div v-if="vista_actual=='el_gust'" center>
      El gust sovint és el motiu principal però...
      sabries distingir els diferents tipus d'aigua
      pel seu gust?

      <p>Comencem el tast d'aigües</p>

      <button>anterior</button>
      <button>següent</button>
    </div>

    <div v-if="vista_actual=='tast'" center>
      <div>
        <table border=1>
          <tr>
            <td></td>
            <td>icona 1</td>
            <td>icona 2</td>
            <td>icona 3</td>
            <td>icona 4</td>
          </tr>
          <tr>
            <td>A</td>
            <td>aixeta</td>
            <td>gerra filtrant</td>
            <td>osmosi</td>
            <td>embotellada</td>
          </tr>
          <tr>
            <td>B</td>
            <td>aixeta</td>
            <td>gerra filtrant</td>
            <td>osmosi</td>
            <td>embotellada</td>
          </tr>
          <tr>
            <td>C</td>
            <td>aixeta</td>
            <td>gerra filtrant</td>
            <td>osmosi</td>
            <td>embotellada</td>
          </tr>
          <tr>
            <td>D</td>
            <td>aixeta</td>
            <td>gerra filtrant</td>
            <td>osmosi</td>
            <td>embotellada</td>
          </tr>
        </table>
      </div>

      <button>anterior</button>
      <button>següent</button>
    </div>

    <div v-if="vista_actual=='quina_tha_agradat_mes'" center>
      <table>
        <tr>
          <td>
            Quina t'ha agradat més?
          </td>
          <td>
            <button>A</button>
            <button>B</button>
            <button>C</button>
            <button>D</button>
          </td>
        </tr>
        <tr>
          <td>
            I quina menys?
          </td>
          <td>
            <button>A</button>
            <button>B</button>
            <button>C</button>
            <button>D</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
  let app=Vue.createApp({
    data(){return{
      //vista actual
      vista_actual:"titol",

      index_pagina_actual:0,
      pagines:[
        {
          text:"UNES PREGUNTES RÀPIDES ABANS DE COMENÇAR...",
          preguntes:[
            {
              text:"Quina edat tens?",
              resposta:"",
              opcions:[
                "Menys de 12 anys",
                "De 12 a 17 anys",
                "De 18 a 34 anys",
                "De 35 a 64 anys",
                "65 anys o més",
              ],
            },
            {
              text:"Com t'identifiques?",
              resposta:"",
              opcions:[
                "Noia o dona",
                "Noi o home",
                "No binari",
                "Prefereixo no respondre",
              ],
            },
            {
              text:"On vius habitualment?",
              resposta:"",
              opcions:[
                "Barcelona",
                "Girona",
                "Lleida",
                "Tarragona",
              ],
            },
          ],
        },{
          text:"UNES PREGUNTES RÀPIDES ABANS DE COMENÇAR",
          preguntes:[
            {
              text:"Quina aigua beus a casa?",
              resposta:"",
              opcions:[
                "Aigua embotellada en plàstic",
                "Aigua embotellada en vidre",
                "Aigua de l'aixeta",
                "Aigua de l'aixeta amb gerra filtrant",
                "Aigua de l'aixeta filtrada per osmosi",
                "Altres",
              ],
            },
            {
              text:"Per què la tries? (es pot seleccionar més d'una opció)",
              multiple:true,
              resposta:new Set(),
              opcions:[
                "Pel gust",
                "Pel preu",
                "És més segura i saludable",
                "Per motius ambientals",
                "Jo no trio l'aigua que bevem a casa",
                "Per un altre motiu",
              ],
            },
          ],
        },{
          text:"Creus que...",
          preguntes:[
            {
              text:"...el tipus d'aigua que beus influeix en l'impacte ambiental (residus, cost energètic)?",
              resposta:"",
              opcions:[
                "Gens d'acord",
                "Poc d'acord",
                "Neutral",
                "Bastant d'acord",
                "Molt d'acord",
              ],
            },
            {
              text:"...pots confiar en la qualitat de l'aigua de l'aixeta del meu municipi?",
              resposta:"",
              opcions:[
                "Gens d'acord",
                "Poc d'acord",
                "Neutral",
                "Bastant d'acord",
                "Molt d'acord",
              ],
            },
            {
              text:"...les persones tenim bona capacitat per distingir els tipus d'aigua i el seu gust?",
              resposta:"",
              opcions:[
                "Gens d'acord",
                "Poc d'acord",
                "Neutral",
                "Bastant d'acord",
                "Molt d'acord",
              ],
            },
          ],
        },{
          text:"Intenció i compromís de canvi",
          preguntes:[
            {
              text:"Després de l'activitat, et planteges canviar els teus hàbits de consum?",
              resposta:"",
              opcions:[
                "Em plantejo reduir el consum d’aigua embotellada",
                "Em plantejo utilitzar un sistema de filtració",
                "Em plantejo utilitzar ampolles de vidre enlloc d’ampolles de plàstic",
                "No canviaré els meus hàbits de consum",
                "No, jo no trio l’aigua que bevem a casa",
              ],
            },
          ],
        },
      ],
    }},

    methods:{
      alert(txt){
        alert(txt);
      },

      pregunta_anterior(){
        if(this.index_pagina_actual){
          this.index_pagina_actual--;
        }else{
          this.vista_actual="titol";
        }
      },
      pregunta_seguent(){
        this.index_pagina_actual++;

        if(this.index_pagina_actual>=this.pagines.length){
          this.vista_actual="comencem";
        }
      },

      tot_contestat(pagina){
        return pagina.preguntes.every(p=>(!p.multiple&&p.resposta)||(p.multiple&&p.resposta.size));
      },


    },
    computed:{
      //f(){},
      pagina_actual(){
        return this.pagines[this.index_pagina_actual]||false;
      },
    },
  }).mount("#app");
</script>
