<!doctype html><html><head>
  <meta charset=utf8>
  <script src="lib/vue.global.prod.js"></script>
  <style>
    summary{
      cursor:pointer;
      color:royalblue;
    }
    summary:hover{
      text-decoration:underline;
    }
    [left]{
      text-align:left;
    }
    [small]{
      font-size:smaller;
    }
  </style>
</head><body>
<h1>glops - dades recopilades</h1>

<div id=app>
  
  <div v-if="participacions">
    <details v-for="arr,key in get_participacions_agrupades_per_dia">
      <summary>{{key}}: {{arr.length}} participants</summary>
      <table border=1 >
        <tr>
          <th left>id</th>
          <th left>data</th>
          <th left>respostes</th>
        </tr>
        <tr v-for="par in arr">
          <td>{{par.id}}</td>
          <td>{{par.created}}</td>
          <td>
            <table border=1 style="border-collapse:collapse">
              <tbody v-for="val,key in par.json">
                <tr v-if="val">
                  <td>{{key}}</td>
                  <td>
                    <div v-if="key=='preguntes'">
                      <table border=1 style="border-collapse:collapse;border-color:royalblue">
                        <tr v-for="preg in val">
                          <td><div v-html="preg.text"></div></td>
                          <td>
                            <div v-if="!preg.resposta">&empty;</div>
                            <div v-else>
                              {{preg.resposta}}
                            </div>
                          </td>
                          <td v-if="preg.resposta_municipi">
                            {{preg.resposta_municipi}}
                          </td>
                          <td v-if="preg.resposta_post">
                            {{preg.resposta_post}} (post)
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div v-else>{{val}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </details>

    <hr>

    <details open>
      <summary>Només Comentaris</summary>
      <table small border=1>
        <tr v-for="par in get_participacions_amb_comentaris">
          <td>{{par.id}}</td>
          <td>{{par.created}}</td>
          <td>{{par.json.explicans_que_en_penses_opcional}}</td>
        </tr>
      </table>
    </details>
  </div>
</div>

<script>
  let app=Vue.createApp({
    data(){return{
      participacions:null, //fetch "db/get_participacions.php"
    }},

    methods:{
      //pp
    },

    computed:{
      get_encerts_participacions_anteriors(){
        if(!this.participacions) return false;

        let retval={
          encerts:{},     //respostes correctes => nombre persones
          tipus_aigua:{}, //tipus aigua => nombre encerts
          aigua_agrada:{},
        };

        this.participacions.forEach(par=>{
          let n_respostes_correctes=0;

          let resp_usr = par.json.tast;//dict
          let resp_cor = par.json.tast_respostes_correctes;//dict
          Object.keys(resp_usr).forEach(lletra=>{
            if(resp_usr[lletra]==resp_cor[lletra]){
              //suma 1 a respostes correctes
              n_respostes_correctes++;

              //suma 1 a tipus aigua endevinada
              let tip = resp_cor[lletra];
              if(retval.tipus_aigua[tip]==undefined){
                retval.tipus_aigua[tip]=0;
              }
              retval.tipus_aigua[tip]++;
            }
          });
          if(retval.encerts[n_respostes_correctes]==undefined){
            retval.encerts[n_respostes_correctes]=0;
          }
          retval.encerts[n_respostes_correctes]++;

          //suma 1 a l'aigua que més agrada
          let lletra = par.json.tast_thumb.up;//lletra (ABCD)
          let aigua  = par.json.tast_respostes_correctes[lletra];//text
          if(aigua){
            if(retval.aigua_agrada[aigua]==undefined){
              retval.aigua_agrada[aigua]=0;
            }
            retval.aigua_agrada[aigua]++
          }
        });

        return retval;
      },

      get_participacions_agrupades_per_dia(){
        if(!this.participacions) return false;
        let retval={};
        this.participacions.forEach(par=>{
          let dia = par.created.substring(0,10);//yyyy-mm-dd
          if(!retval[dia]){
            retval[dia]=[];
          }
          retval[dia].push(par);
        });

        //ordenat per data DESC
        let retval_ordenat  = {};
        Object.keys(retval).sort().reverse().forEach(dia=>{
          retval_ordenat[dia] = retval[dia];
        });

        return retval_ordenat;
      },

      get_participacions_amb_comentaris(){
        if(!this.participacions) return false;
        let pars = this.participacions.filter(p=>p.json?.explicans_que_en_penses_opcional);
        pars.sort((a,b)=>b.created<a.created?-1:1);
        return pars;
      },
    },

    async mounted(){
      {//get participacions anteriors
        let res = await fetch("db/get_participacions.php");
        let arr = await res.json();
        this.participacions=arr;
      }
    },

    updated(){
      //pp
    },
  }).mount("#app");
</script>
